body{
    background-color: rgb(215, 236, 250);
    font-family: 'Francois One', sans-serif;
}

.images-box{
    height: 30px;
}

/* Illustration step by step parent DIV */

.row-container{
    position: fixed;
    width: 100%;
    bottom: 23px;
}


  
  /* Step by step illustrations Images sizing */
  .illust-img {
    max-height: 210px;
    max-width: 300px;
    /* min-width: ; */
    min-width: 200px;
    min-height: 200px;
    display: inline block;
    border-radius: 20px;
  }

  .sign-img{
      max-height: 230px;
      max-width: 370px;
      display: inline-block;
      border-radius: 20px;
  }

  .col-illust{
      min-width: 370px;
  }

/* Text and Converter stylization */
  .title{
     font-size: 65px;
     
     
  }

  .converters-div{
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 15;
    top: 30%;
    left: 50%;
    margin: -100px 0 0 -150px;
  }

  .sub-text{
      font-size: 35px;
  }

  .med-text{
      font-size: 20px;
  }
  

/* Footer Bar J.M Start */
.footer-bar{
    background-color: rgba(50, 109, 154, 0.923);
    height: 50px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: 'Chau Philomene One' , sans-serif;
    position:fixed;
    bottom: 0;
    clear: both;
}
/* Footer Bar J.M END */